
#container {
  display: flex;
}

#profil{
  position: relative;
  margin-top: 10px;
  width: 25%;
  left: 10%;
}

#modifProfil {
  position: relative;
  width: 25%;
  left: 30%;
}

ul #mb-3 {
  margin-top: 20px;
}

li, form, div#mb-3{
 border-radius: 20px;
  border: #dfa530 solid 1mm;
  background-color: rgba(0, 0, 0, 0.599);
  color: #afb563;
  font-weight: bold;
  margin:15px;
  text-align: center;
}
p.ProfilActuel {
  color: #dfa530;
  font-size: 2em;
  text-align: center;
}

input::placeholder{
  color:#afb563;
}


input.ProfilActuel {
  background-color: rgba(0, 0, 0, 0.599);
 width: 100%; 
 border-radius: 20px;
 color: #afb563;
  font-weight: bold;
 text-align: center;
}

select.ProfilActuel{
  border: rgba(0, 0, 0, 0.599);
}
button #mb-3{
  border-radius: 10px;
  width: 80px;

}

