.account-page {
  position: relative;
  display: inline-block;
  height: 100vh;
  width: 100%;
}
#onglet {
  top: 0;
}
.container-account {
  display: inline-block;
  height: 100vh;
  width: 100%;
}
#container {
  display: inline-block;
  width: 100%;
  padding: 3% 0;
}

#modifProfil {
  display: inline-block;

  text-align: center;
  width: 80%;
  margin-left: 15%;
}

p#li-actuel-mb3 {
  color: #afb563;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  margin: 5px;
  border: 1px solid #dfa530;
  background-color: beige;
  border-radius: 5px;
  width: 75%;
  margin-left: 15%;
}

.manchette {
  color: #dfa530;
  font-weight: bold;
  font-size: 1em;
}

form#mb-3 {
  border: #dfa530 solid 1mm;
  border-radius: 20px;
  width: 100%;
}

div#mb-3 {
  border-radius: 20px;
  border: #dfa530 solid 1mm;
  background-color: rgba(0, 0, 0, 0.599);
  color: #afb563;
  font-weight: bold;
  margin: 20px;
  text-align: center;
  height: 40px;
}
p.ProfilActuel {
  color: #dfa530;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

input::placeholder {
  color: #afb563;
}

input.ProfilActuel {
  background-color: rgba(0, 0, 0, 0.599);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: #afb563;
  font-weight: bold;
  text-align: center;
  font-size: 11px;
}

input.ProfilActuel:hover {
  background-color: #ffffff20;
}

input.ProfilActuel::placeholder {
  color: #afb563;
}

select.ProfilActuel {
  border: rgba(0, 0, 0, 0.599);
  width: 100%;
  font-size: 11px;
}

select.ProfilActuel:hover {
  background-color: #ffffff20;
}

div.button {
  text-align: center;
}

button#button-mb-3.btn.btn-danger.btn-sm.m-1 {
  border-radius: 10px;
  width: 80px;
}

.Titre {
  display: inline-block;
  color: #ffffff;
  background-color: #dfa530;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  border-left: 1mm solid #dfa530;
  border-right: 1mm solid #dfa530;
  border-bottom: 1mm solid #dfa530;
}

@media (min-width: 650px) {
  input.ProfilActuel {
    font-size: 20px;
  }
  select.ProfilActuel {
    font-size: 20px;
  }

  .Titre {
    font-size: 20px;
  }
}
