.listeRecherche{
    margin-top: 30px;
    display: flex;
background-color: #938ba1;
/* margin-left: 20px; */
width: 100%;
height: 50px;
font-size: 20px;
justify-content: space-around;
}

.buttonValidate{
 display:flex;
width: 0px;
margin-right: 20px;
}

.text{
  display: flex;
 align-items: center;
}

.list{
    display: flex;
}

.quantity{
    display:flex;
    width: 80px;
    height: 30px;
    font-size: 10px;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.formulaire{
 display:flex
}

.form{
    display:flex
}

.searchbarPosition{
    margin-left: 100px;
    margin-top: 20px;
}