.listeRecherche {
  display: flex;
  align-items: center;
  background-color: #dfa530;
  border: thick double black;
  border-radius: 10px;
  /* margin-left: 20px; */
  width: 100%;
  height: 50px;
  font-size: 1rem;
  justify-content: space-around;
}

.buttonValidate {
  display: flex;
  width: 0px;
  margin-right: 20px;
}
.text-container {
  padding: 20px 10%;
}
.text-section {
  background-color: rgba(0, 0, 0, 0.505);
  padding: 10px;
  display: block;
  border: #dfa530 solid 1mm;
  border-radius: 10px;
}

.li-text {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
}
.text,
p {
  text-align: center;
  color: #dfa530;
}

.list {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
}

.quantity {
  margin-top: 6%;
  display: flex;
  width: 70px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  color: #dfa530;
  background-color: rgb(0, 0, 0);
  border: #afb563 solid 1mm;
  border-radius: 10px;
}

.formulaire {
  display: flex;
}

.form {
  display: flex;
}

.croix {
  color: black;
}

.searchbarPosition {
  padding: 0 20%;
}

.exocouleur {
  color: #dfa530;
}

.exerciceText {
  font-size: 2rem;
  font-weight: bold;
  color: #afb563;
  text-align: center;
}
.addButton {
  border: black solid;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dfa530;
  background-color: rgba(0, 0, 0, 0.506);
  background-clip: padding-box;
  border: 1mm solid #afb563;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus{
  background-color: black;
}

#calorieAliment::placeholder {
  color: aliceblue;
}

.scroller {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  overflow: auto;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  background-color: #dfa530;
  padding: 10px;
  text-align: center;
  border: black thick double;
  border-radius: 10px;
}
.scroller button {
  margin: 5px;
  background-color: black;
  color: #dfa530;
  border: #afb563 solid 1mm;
  border-radius: 10px;
  font-weight: bold;
}
