.container-food {
  overflow: auto;
  height: 100vh;
  padding: 0 5%;
  color: #afb563;
  scrollbar-color: #afb563 transparent;
  scrollbar-width: thin;
}
.container-food::-webkit-scrollbar {
  width: 8px;
}
.container-food::-webkit-scrollbar-thumb {
  background: #afb563;
  border-radius: 8px;
}
.container-admin {
  height: auto;
  width: 100%;
}
.triFood {
  text-align: center;
  margin-top: 2%;
}
.triFood h2 {
  display: inline-block;
  background-color: #dfa530;
  border: thick double black;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
}

.checkbox-container {
  font-weight: bold;
  color: #dfa530;
  background-color: #000000;
  border: solid 1mm #dfa530;
  border-radius: 10px;
  display: inline-block;
  justify-content: center;
  margin-bottom: 2%;
}
.list-food {
  background-color: #000000;
  border: solid 1mm #afb563;
  border-radius: 10px;
}
.list-food li {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 0px 10px;
  color: #dfa530;
  font-weight: bold;
  background-color: #000000;
  border: solid 1mm #afb563;
  border-radius: 10px;
}
.checkbox-container {
  font-weight: bold;
  color: #dfa530;
  background-color: #000000;
  border: solid 1mm #dfa530;
  border-radius: 10px;
  display: inline-block;
  justify-content: center;
  margin-bottom: 2%;
}

.checkbox {
  display: inline-block;
  padding: 0 10px;
}
.encadrement {
  padding: 2% 5%;
  text-align: center;
}
.sousEncadrement {
  display: flex;
  flex-direction: column;
}
.ecritureAdmin {
  color: #dfa530;
  border-color: #dfa530;
  border-style: solid;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  list-style: none;
}
.label {
  padding: 0 10px;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 0.390625vw);
}
.ecriture {
  text-align: center;
  display: inline-block;
  background-color: #dfa530;
  border: thick double black;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
}
.ecriture,
p {
  display: block;
}

.supp {
  color: #dfa530;
  font-weight: bold;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.505);
  border: solid 1mm #afb563;
  border-radius: 50px;
  padding: 0 5px;
}
.iconVisible {
  color: rgb(146, 212, 153);
}
.iconVisible:hover {
  color: greenyellow;
  transition: ease-in-out 0.5s;
  -webkit-animation: vibrate-2 0.3s linear infinite both;
  animation: vibrate-2 0.3s linear infinite both;
}
.iconInvisible {
  color: rgb(211, 107, 107);
}
.iconInvisible:hover {
  color: red;
  transition: ease-in-out 0.5s;
  -webkit-animation: vibrate-2 0.3s linear infinite both;
  animation: vibrate-2 0.3s linear infinite both;
}

.buttonValidate {
  transition: ease-in-out 0.5s;
  margin: 0;
  padding: 0 5px;
  display: inline-block;
  background-color: transparent;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  text-align: center;
  border: none;
}
.iconNeutre {
  color: rgb(175, 174, 174);
}

.trash {
  color: rgb(211, 107, 107);
}
.trash:hover {
  color: red;
  transition: ease-in-out 0.5s;
  -webkit-animation: vibrate-2 0.3s linear infinite both;
  animation: vibrate-2 0.3s linear infinite both;
}
.btn-gestion {
  display: flex;
  justify-content: space-around;
}
.text {
  margin: 0;
  -webkit-animation: text-blur-out 1.8s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    infinite alternate backwards;
  animation: text-blur-out 1.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
    alternate backwards;
}
.selectAdmin {
  font-size: calc(15px + 0.390625vw);
}
@-webkit-keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@media screen and (max-width: 700px) {
  .test-li {
    display: flex;
    flex-direction: column;
  }
}
