.container-food {
  color: #afb563;
}
.ecritureAdmin {
  color: #dfa530;
  border-color: #dfa530;
  border-style: solid;
  padding-bottom: 20px;
}
.ecriture {
  color: #dfa530;
}

.supp {
  color: #dfa530;
  font-weight: bold;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.505);
  border: solid 1mm #afb563;
  border-radius: 50px;
}

.users {
  display: flex;
  justify-content: space-around;
}
