.inscriptionok-page {
  display: inline-block;
  height: 100vh;
  width: 100%;
  padding: 0 20%;
}
.inscriptionok-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: #dfa530;
  font-weight: bold;
  text-align: center;
}

.textInscription {
  color: #dfa530;
  font-weight: bold;
  text-align: center;
}
.textInscriptionBis {
  color: #dfa530;
  font-weight: bold;
  text-align: center;
}
