.message {
  color: #dfa563;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}
.container-message {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.container-form p {
  margin-top: 1%;
}
.message-erreur {
  color: rgb(172, 66, 66);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}
