.mdp-page {
  display: inline-block;
  height: 100vh;
  width: 100%;
  padding: 0 20%;
}
.container-mdp {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: black;
  border: #dfa630 1mm solid;
  border-radius: 20px;
  padding: 0 5%;
}
.text-mdp {
  text-align: center;
}
.email-info {
  color: #dfa630;
}
.mdp-title {
  color: #afb563;
}
.message {
  color: #dfa630;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}
.container-message {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.form-mdp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
}
.container-form {
  align-items: center;
  height: 200px;
}
.container-form p {
  margin-top: 1%;
}
.send-mail {
  color: #dfa630;
  background-color: black;
  border: #afb563 1mm solid;
  font-weight: bold;
  border-radius: 20px;
}
.send-mail:hover {
  color: black;
  background-color: #afb563;
  border: #dfa630 1mm solid;
}
.message-erreur {
  color: rgb(172, 66, 66);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}
