.title-submit {
  font-size: 2rem;
  color: #afb563;
}
.text-submit {
  color: #dfa630;
  border: #dfa630 1mm solid;
  background-color: black;
  border-radius: 30px;
}
.text-submit:focus {
  color: #dfa630;
  font-weight: bold;
}
.label-submit {
  color: #afb563;
}
