.suscribe{
    margin-top: 40px;
    text-align: center;
}

.carotteFond{
    background-image: url("/public/assets/missCarottePenchee.png");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: 0px;
    
}

.suscribeForm{
    text-align: center;
}




