.video {
    margin-top:3%;
  display: flex;
  justify-content: center;
  align-items: center;
   margin-bottom:3%;
}
 
H1{color: #afb563;;
display: flex;
  justify-content: center;
  align-items: center;}