.imcButtonStyle{
 margin-left: 120px;
 margin-top : 40px
}

.saladePicture{
background-image: url("/public/assets/salade.jpg");
 background-size: cover;
  background-position: center;
  margin-top: 50px;
  margin-left: 35px;

  height: 230px;
  width: 300px;
}

.containerButton{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.containerText{
  border-style: solid;
  border-color: #dfa530;
  background-color: #dfa530;
  width: 90%;
  margin-left: 18px;
  border-radius: 20px;
}

.nboomText{
  padding-top: 40px;
  font-weight: bold;
  font-size:15px;
  text-align: center;
}

.description{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}