* {
  outline: 0;
}
.imcButtonStyle {
  text-align: center;
}

.saladePicture {
  background-image: url("/public/assets/salade.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  /* margin-left: 35px; */
  height: 230px;
  /* width: 300px; */
  width: 100%;
}

.containerButton {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.containerText {
  display: flex;
  justify-content: center;
  color: #dfa530;
  border-style: solid;
  border-color: #dfa530;
  background-color: rgba(0, 0, 0, 0.536);
  width: 100%;
  border-radius: 20px;
}

.nboomText {
  color: #afb563;
  padding-top: 25px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.description {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.imcForm {
  display: flex;
  flex-direction: column;
  border-style: solid;
  justify-content: center;
  border-color: #dfa530;
  border-radius: 10px;
  margin-top: 30px;
  width: 300px;
  height: 300px;
  background-color: transparent;
  padding-top: 30px;
  padding-left: 48px;
  margin-left: 36px;
}

.imcButton2 {
  padding-left: 10px;
}

.hautPage {
  padding-top: 25px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: #afb563;
  text-decoration: none;
}
.wordStyle {
  color: #afb563;
  font-weight: bold;
}
.imc-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.imcForm input {
  color: #dfa530;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: rgba(0, 0, 0, 0.515);
  border-radius: 50px;
  text-align: center;
  border: solid 1mm #dfa530;
}
.linkUp + p {
  text-decoration: none;
}

.basDePageLink {
  text-decoration: none;
}

.message {
  color: #dfa530;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-right: 40px;
}

/* .missCarotteImg {
  position: absolute;
  left: 0px;
  top: 700px;
  transform: rotate(-12deg);
  height: 850px;
  width: 700px;
  z-index: -5;
}
.misterCarotteImg {
  position: absolute;
  right: 0px;
  top: 80px;
  height: 850px;
  width: 700px;
  z-index: -5;
} */
