.footer-component {
}
.footer {
  border-top: solid 1mm#dfa530;
  display: flex;
  border-left: solid 1mm#dfa530;
  border-right: solid 1mm#dfa530;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(0, 0, 0, 0.536);
  margin-top: 3%;
  height: 150px;
  width: 100%;
  /* margin-top: 35px; */
}

.textFooter p {
  margin: 0;
}

.logoFooter {
  display: inline;
  height: 150px;
  width: 100%;
  object-fit: contain;
  object-position: center;
  padding: 0;
  margin: 0;
  /* background-color: #dfa530; */
  /* border-radius: 10px; */
  border-radius: 10px 0px 0px 0px;
}

.aPropos {
  display: flex;
  font-weight: bold;
  box-shadow: none;
  text-decoration: none;
}
.aPropos p {
  margin: 0;
  color: #afb563;
}

.aPropos:visited {
  color: #afb563;
}

.aPropos p:hover {
  cursor: pointer;
  color: #dfa530;
  transition: ease-in-out 0.3s;
}
.container-footer {
  width: 100%;
}
.footer-p {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: space-around;
  width: 100%;
}
.footer-img {
  flex: 1 0;
  height: 150px;
  display: flex;
  align-items: center;
  width: 100%;
}
