.footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;

  background-color: #afb563;
  margin-top: 35px;
  height: 100%;
}
.textFooter {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.logoFooter {
  width: 200px;
  margin-right: 3%;
}
