.addButton {
  border-radius: 40px;
  border: #dfa530 1mm solid;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: white;
  background-color: #afb563;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addButton:hover {
  background-color: #dfa530;
  color: black;
}

.divAddButton {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.croix {
  font-weight: bolder;
  color: black;
  position: relative;
  bottom: 5%;
  text-decoration: none;
}
