.inscription {
  color: #dfa530;
  font-size: calc(10px + 0.390625vw);
  font-weight: bold;

  background-color: rgba(0, 0, 0, 0.505);
  border: solid 1mm #afb563;
  border-radius: 50px;
}

.inscription:hover {
  color: #000000;
  font-weight: bold;

  background-color: #b0b563;
  border: solid 1mm #dfa530;
  border-radius: 50px;
}
