body {
  background-color: #252525;
  height: 100vh;
  scrollbar-color: #aaa transparent;
  scrollbar-width: thin;
  overflow-x: hidden;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background: #dfa530;
  border-radius: 8px;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
